* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 0 2rem;
}

a {
  text-decoration: none;
}

/* ui */
.heading {
  font-size: 2rem;
  margin-bottom: .7rem;
}

.lead {
  font-size: 1rem;
  padding: .5rem 0;
}

nav {
  margin-bottom: 1rem;
  padding: 1rem 0;
  background: #000;
  font-size: 2rem;
}

.navbar {
  color: #fff;
}

.card {
  margin-bottom: 2rem;
  padding: 1rem;
  border: #ddd 1px solid;
  line-height: 1.5;
  font-size: 1rem;
}

.form-style {
  padding: .8rem;
  box-sizing: border-box;
  width: 100%;
  font-size: 1.1rem;
  border: #ddd 1px solid;
} 

input:focus {
  border: 1px solid #9acd32;
  outline: none;
}

footer {
  text-align: center;
  margin-top: 1rem;
  padding: 1.4rem 0;
  color: #fff;
  background: #000;
}